 <!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>About Us</h2>
            <p>
                This institute also known as AIM GURKHA Training center which was established unofficially on 2061 BS and was registered officially on 2071 BS by our respected chairman Mani Ram Rai. He alone took the risk and opened this training center. Through his long journey with this training center he faced many challenges but met a good helping hand whose name was Ganesh Rai also known as Nehang sir and they both stand strong like a mountain, faced many challenges and slowly took this institute at next level and now here we are.
                Around 120-150 candidates comes every year to get trained in this institute.
            </p>
        </div>

        <div class="row gy-4">
            <div class="col-lg-6">
                <h3>The Advanced combat readiness drills</h3>
                <img src="~/assets/img/about1.jpg" class="img-fluid rounded-4 mb-4" alt="">
                <p>Army personnel undergo rigorous training to develop their skills and physical endurance. They learn combat tactics, weapon handling, and survival techniques to prepare for various situations they may encounter in the field.</p>
                <p>Training also focuses on discipline, teamwork, and leadership, essential qualities for effective military service. Soldiers are trained to adapt quickly to different environments and make split-second decisions under pressure.</p>
            </div>
            <div class="col-lg-6">
                <div class="content ps-0 ps-lg-5">
                    <p class="fst-italic">
                        "Service is noble, requiring dedication and courage. Let's walk this path with integrity and commitment."
                    </p>
                    <ul>
                        <li><i class="bi bi-check-circle-fill"></i> Police officers uphold law and order in society.</li>
                        <li><i class="bi bi-check-circle-fill"></i> They investigate crimes, apprehend suspects, and ensure public safety.</li>
                        <li><i class="bi bi-check-circle-fill"></i> Police officers work tirelessly to protect communities and serve as guardians of justice.</li>
                    </ul>
                    <p>
                        They face various challenges and risks in their line of duty but remain committed to their oath to serve and protect. Despite the dangers, police officers strive to maintain peace and uphold the values of justice and integrity.
                    </p>

                    <div class="position-relative mt-4">
                        <img src="~/assets/img/about2.jpg" class="img-fluid rounded-4" alt="">
                        <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section><!-- End About Us Section -->

<section id="team" class="team">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Our Team</h2>
            <p>Nulla dolorum nulla nesciunt rerum facere sed ut inventore quam porro nihil id ratione ea sunt quis dolorem dolore earum</p>
        </div>

        <div class="row gy-4">

            <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
                <div class="member">
                    <img src="/assets/img/team/Atul.png" class="img-fluid" alt="">
                    <h4>Atul Baral</h4>
                    <span>Software Engineer</span>
                    <div class="social">
                        <a href=""><i class="bi bi-twitter"></i></a>
                        <a href=""><i class="bi bi-facebook"></i></a>
                        <a href=""><i class="bi bi-instagram"></i></a>
                        <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div><!-- End Team Member -->

            <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
                <div class="member">
                    <img src="/assets/img/team/bhishma.jpg" class="img-fluid" alt="">
                    <h4>Bhishma Poudel</h4>
                    <span>Software Engineer</span>
                    <div class="social">
                        <a href=""><i class="bi bi-twitter"></i></a>
                        <a href=""><i class="bi bi-facebook"></i></a>
                        <a href=""><i class="bi bi-instagram"></i></a>
                        <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div><!-- End Team Member -->

            <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
                <div class="member">
                    <img src="/assets/img/team/Keshar.jpg" class="img-fluid" alt="">
                    <h4>Keshar Narayan Shrestha</h4>
                    <span>Software Engineer</span>
                    <div class="social">
                        <a href=""><i class="bi bi-twitter"></i></a>
                        <a href=""><i class="bi bi-facebook"></i></a>
                        <a href=""><i class="bi bi-instagram"></i></a>
                        <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div><!-- End Team Member -->

            <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
                <div class="member">
                    <img src="/assets/img/team/sauravshakya.jpeg" class="img-fluid" alt="">
                    <h4>Saurav Shakya</h4>
                    <span>Software Engineer</span>
                    <div class="social">
                        <a href=""><i class="bi bi-twitter"></i></a>
                        <a href=""><i class="bi bi-facebook"></i></a>
                        <a href=""><i class="bi bi-instagram"></i></a>
                        <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div><!-- End Team Member -->

        </div>

    </div>
</section><!-- End Our Team Section -->


<!-- ======= Our Services Section ======= -->
@* <section id="services" class="services sections-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Our Services</h2>
            <p>Our system offers a secure eCommerce platform, streamlined student enrollment, comprehensive evaluation tools, access to past videos and images, efficient physical exam scheduling, and essential guides for physical and mental fitness, ensuring a seamless and holistic user experience.</p>
        </div>

        <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">

            <div class="col-lg-4 col-md-6">
                <div class="service-item  position-relative">
                    <div class="icon">
                        <i class="bi bi-activity"></i>
                    </div>
                    <br />
                    <h3> Ultimate eCommerce Hub</h3>
                    <p>A secure platform for purchasing a variety of products and services, featuring easy order tracking and customer support.</p>
                    <a asp-area="Home" asp-controller="" asp-action="ReadMore" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="bi bi-broadcast"></i>
                    </div> <br />
                    <h3>Swift Enrollment Wizard</h3>
                    <p>Streamlined online application and registration process for students, with tools for administrators to manage and communicate efficiently.</p>
                      <a asp-area="Home" asp-controller="" asp-action="ReadMore" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
               
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="bi bi-easel"></i>
                    </div> <br />
                    <h3>Smart Evaluation Suite</h3>
                    <p>Comprehensive tools for assessing student performance through quizzes, assignments, and exams, with detailed progress tracking and feedback.</p>
                      <a asp-area="Home" asp-controller="" asp-action="ReadMore" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
               
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="bi bi-bounding-box-circles"></i>
                    </div> <br />
                    <h3>Media Vault Access</h3>
                    <p>Easy access to a library of past videos and images for reviewing lectures, training sessions, and events to reinforce learning.</p>
                      <a asp-area="Home" asp-controller="" asp-action="ReadMore" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
               
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="bi bi-calendar4-week"></i>
                    </div> <br />
                    <h3>Fitness Test Scheduler</h3>
                    <p>Efficient modules for scheduling and conducting physical exams or tests, complete with result recording and detailed reporting.</p>
                      <a asp-area="Home" asp-controller="" asp-action="ReadMore" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
               
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="bi bi-chat-square-text"></i>
                    </div> <br />
                    <h3>Wellness Guidebook</h3>
                    <p> Comprehensive guides on physical and mental fitness, including workout plans, nutrition advice, and stress management tips for a healthier lifestyle.</p>
                      <a asp-area="Home" asp-controller="" asp-action="ReadMore" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
               
                </div>
            </div><!-- End Service Item -->

        </div>

    </div>
</section> *@
<!--End our services section -->



