<style>
    .gallery .portfolio-wrap img {
        transition: 0.3s;
        position: relative;
        z-index: 1;
    }

    .gallery .portfolio-wrap .portfolio-info {
        padding: 25px 20px;
        background-color: #fff;
        position: relative;
        border-top: 1px solid #f3f3f3;
        z-index: 2;
    }

        .gallery .portfolio-wrap .portfolio-info h4 {
            font-size: 18px;
            font-weight: 600;
            padding-right: 50px;
        }

            .gallery .portfolio-wrap .portfolio-info h4 a {
                color: var(--color-default);
                transition: 0.3s;
            }

                .gallery .portfolio-wrap .portfolio-info h4 a:hover {
                    color: var(--color-primary);
                }

        .gallery .portfolio-wrap .portfolio-info p {
            color: #6c757d;
            font-size: 14px;
            margin-bottom: 0;
            padding-right: 50px;
        }

    .gallery .portfolio-wrap:hover img {
        transform: scale(1.1);
    }

</style>
<div class="container" data-aos="fade-up">

    <div class="section-header" style="margin-top:8%;">
        <h2>Our Images</h2>
        <p>
            This institute also known as AIM GURKHA Training center which was established unofficially on 2061 BS and was registered officially on 2071 BS by our respected chairman Mani Ram Rai. He alone took the risk and opened this training center. Through his long journey with this training center he faced many challenges but met a good helping hand whose name was Ganesh Rai also known as Nehang sir and they both stand strong like a mountain, faced many challenges and slowly took this institute at next level and now here we are.
            Around 120-150 candidates comes every year to get trained in this institute.
        </p>
    </div>
</div>
 <!-- ======= Gallery Section ======= -->
<section id="gallery" class="gallery">
    <div class="container" data-aos="fade-up">

        <div class="row gy-4 posts-list">

            <div class="col-xl-4 col-md-6">
                <article class="portfolio-wrap">
                    <div class="post-img">
                        <a href="~/assets/img/blog/blog-1.jpg" class="glightbox">
                            <img src="~/assets/img/blog/blog-1.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                    <div class="portfolio-info">
                        <p class="post-category">Category 1</p>
                        <h4 class="title">
                            <a href="image-details.html">Image Title 1</a>
                        </h4>
                    </div>
                </article>
            </div><!-- End post list item -->

            <div class="col-xl-4 col-md-6">
                <article class="portfolio-wrap">
                    <div class="post-img">
                        <a href="~/assets/img/blog/blog-2.jpg" class="glightbox">
                            <img src="~/assets/img/blog/blog-2.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                    <div class="portfolio-info">
                        <p class="post-category">Category 2</p>
                        <h4 class="title">
                            <a href="image-details.html">Image Title 2</a>
                        </h4>
                    </div>
                </article>
            </div><!-- End post list item -->

            <div class="col-xl-4 col-md-6">
                <article class="portfolio-wrap">
                    <div class="post-img">
                        <a href="~/assets/img/blog/blog-3.jpg" class="glightbox">
                            <img src="~/assets/img/blog/blog-3.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                    <div class="portfolio-info">
                        <p class="post-category">Category 3</p>
                        <h4 class="title">
                            <a href="image-details.html">Image Title 3</a>
                        </h4>
                    </div>
                </article>
            </div><!-- End post list item -->

            <div class="col-xl-4 col-md-6">
                <article class="portfolio-wrap">
                    <div class="post-img">
                        <a href="~/assets/img/blog/blog-4.jpg" class="glightbox">
                            <img src="~/assets/img/blog/blog-4.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                    <div class="portfolio-info">
                        <p class="post-category">Category 4</p>
                        <h4 class="title">
                            <a href="image-details.html">Image Title 4</a>
                        </h4>
                    </div>
                </article>
            </div><!-- End post list item -->

            <div class="col-xl-4 col-md-6">
                <article class="portfolio-wrap">
                    <div class="post-img">
                        <a href="~/assets/img/blog/blog-5.jpg" class="glightbox">
                            <img src="~/assets/img/blog/blog-5.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                    <div class="portfolio-info">
                        <p class="post-category">Category 5</p>
                        <h4 class="title">
                            <a href="image-details.html">Image Title 5</a>
                        </h4>
                    </div>
                </article>
            </div><!-- End post list item -->

            <div class="col-xl-4 col-md-6">
                <article class="portfolio-wrap">
                    <div class="post-img">
                        <a href="~/assets/img/blog/blog-6.jpg" class="glightbox">
                            <img src="~/assets/img/blog/blog-6.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                    <div class="portfolio-info">
                        <p class="post-category">Category 6</p>
                        <h4 class="title">
                            <a href="image-details.html">Image Title 6</a>
                        </h4>
                    </div>
                </article>
            </div><!-- End post list item -->

        </div><!-- End posts list -->

    </div>
</section><!-- End Gallery Section -->
        </div>
    </section><!-- End Blog Section -->
</main><!-- End #main -->
<script>
    <!-- Include GLightbox CSS-- >
    <link href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" rel = "stylesheet" >

        <!--Include GLightbox JS-- >
            <script src="https://cdn.jsdelivr.net/npm/glightbox/dist/js/glightbox.min.js" ></script>


    document.addEventListener('DOMContentLoaded', () => {
        const lightbox = GLightbox({
            selector: '.glightbox'
        });
    });
</script>
