<style>
    .section-header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background: #2B3044;
    }

        .section-header h1 {
            font: 400 32px "Montserrat", sans-serif;
            text-transform: uppercase;
            color: #fff;
        }

    .gallery .portfolio-wrap img {
        transition: 0.3s;
        position: relative;
        z-index: 1;
    }

    .gallery .portfolio-wrap .portfolio-info {
        padding: 25px 20px;
        background-color: #fff;
        position: relative;
        border-top: 1px solid #f3f3f3;
        z-index: 2;
    }

        .gallery .portfolio-wrap .portfolio-info h4 {
            font-size: 18px;
            font-weight: 600;
            padding-right: 50px;
        }

            .gallery .portfolio-wrap .portfolio-info h4 a {
                color: var(--color-default);
                transition: 0.3s;
            }

                .gallery .portfolio-wrap .portfolio-info h4 a:hover {
                    color: var(--color-primary);
                }

        .gallery .portfolio-wrap .portfolio-info p {
            color: #6c757d;
            font-size: 14px;
            margin-bottom: 0;
            padding-right: 50px;
        }

    .gallery .portfolio-wrap:hover img {
        transform: scale(1.1);
    }

    .hidden {
        display: none;
        opacity: 0;
        transition: opacity 0.5s ease;
    }

    .view-more-btn, .view-less-btn {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

        .view-more-btn button, .view-less-btn button {
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            background-color: #2B3044;
            color: #fff;
            border: none;
            border-radius: 5px;
            transition: background-color 0.3s, transform 0.3s;
        }

            .view-more-btn button:hover, .view-less-btn button:hover {
                background-color: #1f2538;
                transform: scale(1.05);
            }
</style>

<div class="container" data-aos="fade-up">
    <div class="section-header" style="margin-top:8%;">
        <h1>Images Gallery</h1>
    </div>
</div>

<section id="gallery" class="gallery">
    <div class="container" data-aos="fade-up">

        <div class="row gy-4 posts-list">

            <div class="col-xl-4 col-md-6">
                <article class="portfolio-wrap">
                    <div class="post-img">
                        <a href="~/Images/imagegallery/image1.jpg" class="glightbox">
                            <img src="~/Images/imagegallery/image1.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                    <div class="portfolio-info">
                        <h4 class="title">
                            <a href="image-details.html">Image Title 1</a>
                        </h4>
                    </div>
                </article>
            </div><!-- End post list item -->

            <div class="col-xl-4 col-md-6">
                <article class="portfolio-wrap">
                    <div class="post-img">
                        <a href="~/Images/imagegallery/image2.jpg" class="glightbox">
                            <img src="~/Images/imagegallery/image2.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                    <div class="portfolio-info">
                        <h4 class="title">
                            <a href="image-details.html">Image Title 2</a>
                        </h4>
                    </div>
                </article>
            </div><!-- End post list item -->

            <div class="col-xl-4 col-md-6">
                <article class="portfolio-wrap">
                    <div class="post-img">
                        <a href="~/Images/imagegallery/image3.jpg" class="glightbox">
                            <img src="~/Images/imagegallery/image3.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                    <div class="portfolio-info">
                        <h4 class="title">
                            <a href="image-details.html">Image Title 3</a>
                        </h4>
                    </div>
                </article>
            </div><!-- End post list item -->

            <div class="col-xl-4 col-md-6">
                <article class="portfolio-wrap">
                    <div class="post-img">
                        <a href="~/Images/imagegallery/image4.jpg" class="glightbox">
                            <img src="~/Images/imagegallery/image4.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                    <div class="portfolio-info">
                        <h4 class="title">
                            <a href="image-details.html">Image Title 4</a>
                        </h4>
                    </div>
                </article>
            </div><!-- End post list item -->

            <div class="col-xl-4 col-md-6">
                <article class="portfolio-wrap">
                    <div class="post-img">
                        <a href="~/Images/imagegallery/image5.jpg" class="glightbox">
                            <img src="~/Images/imagegallery/image5.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                    <div class="portfolio-info">
                        <h4 class="title">
                            <a href="image-details.html">Image Title 5</a>
                        </h4>
                    </div>
                </article>
            </div><!-- End post list item -->

            <div class="col-xl-4 col-md-6">
                <article class="portfolio-wrap">
                    <div class="post-img">
                        <a href="~/Images/imagegallery/image6.jpg" class="glightbox">
                            <img src="~/Images/imagegallery/image6.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                    <div class="portfolio-info">
                        <h4 class="title">
                            <a href="image-details.html">Image Title 6</a>
                        </h4>
                    </div>
                </article>
            </div><!-- End post list item -->
            <!-- Additional Images -->
            <div class="col-xl-4 col-md-6 hidden">
                <article class="portfolio-wrap">
                    <div class="post-img">
                        <a href="~/Images/imagegallery/image7.jpg" class="glightbox">
                            <img src="~/Images/imagegallery/image7.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                    <div class="portfolio-info">
                        <h4 class="title">
                            <a href="image-details.html">Image Title 7</a>
                        </h4>
                    </div>
                </article>
            </div><!-- End post list item -->

            <div class="col-xl-4 col-md-6 hidden">
                <article class="portfolio-wrap">
                    <div class="post-img">
                        <a href="~/Images/imagegallery/image8.jpg" class="glightbox">
                            <img src="~/Images/imagegallery/image8.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                    <div class="portfolio-info">
                        <h4 class="title">
                            <a href="image-details.html">Image Title 8</a>
                        </h4>
                    </div>
                </article>
            </div><!-- End post list item -->

            <div class="col-xl-4 col-md-6 hidden">
                <article class="portfolio-wrap">
                    <div class="post-img">
                        <a href="~/Images/imagegallery/image9.jpg" class="glightbox">
                            <img src="~/Images/imagegallery/image9.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                    <div class="portfolio-info">
                        <h4 class="title">
                            <a href="image-details.html">Image Title 9</a>
                        </h4>
                    </div>
                </article>
            </div><!-- End post list item -->

            <div class="col-xl-4 col-md-6 hidden">
                <article class="portfolio-wrap">
                    <div class="post-img">
                        <a href="~/Images/imagegallery/image9.jpg" class="glightbox">
                            <img src="~/Images/imagegallery/image9.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                    <div class="portfolio-info">
                        <h4 class="title">
                            <a href="image-details.html">Image Title 9</a>
                        </h4>
                    </div>
                </article>
            </div><!-- End post list item -->


            <div class="col-xl-4 col-md-6 hidden">
                <article class="portfolio-wrap">
                    <div class="post-img">
                        <a href="~/Images/imagegallery/image9.jpg" class="glightbox">
                            <img src="~/Images/imagegallery/image9.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                    <div class="portfolio-info">
                        <h4 class="title">
                            <a href="image-details.html">Image Title 9</a>
                        </h4>
                    </div>
                </article>
            </div><!-- End post list item -->

            <div class="col-xl-4 col-md-6 hidden">
                <article class="portfolio-wrap">
                    <div class="post-img">
                        <a href="~/Images/imagegallery/image9.jpg" class="glightbox">
                            <img src="~/Images/imagegallery/image9.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                    <div class="portfolio-info">
                        <h4 class="title">
                            <a href="image-details.html">Image Title 9</a>
                        </h4>
                    </div>
                </article>
            </div><!-- End post list item -->
        </div><!-- End posts list -->

        <div class="view-more-btn">
            <button id="view-more-btn">View More</button>
        </div>
        <div class="view-less-btn hidden">
            <button id="view-less-btn">Show Less</button>
        </div>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const lightbox = GLightbox({
            selector: '.glightbox'
        });

        const viewMoreBtn = document.getElementById('view-more-btn');
        const viewLessBtn = document.getElementById('view-less-btn');
        const hiddenItems = document.querySelectorAll('.hidden');

        viewMoreBtn.addEventListener('click', () => {
            hiddenItems.forEach(item => {
                item.style.display = 'block';
                setTimeout(() => item.style.opacity = '1', 600);
            });
            viewMoreBtn.style.display = 'none';
            viewLessBtn.style.display = 'flex';
        });

        viewLessBtn.addEventListener('click', () => {
            hiddenItems.forEach(item => {
                item.style.opacity = '0';
                setTimeout(() => item.style.display = 'none', 400);
            });
            viewMoreBtn.style.display = 'flex';
            viewLessBtn.style.display = 'none';
        });
    });
</script>
