@{
    ViewData["Title"] = "Home Page";
}

@if (TempData["Register_Success"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Register_Success"]
    </div>
}

<div class="text-center">
   
</div>
