
    <body style=" background-color: var(--bodyBackgroundColor);
        color: var(--bodyColor);
        font-family: var(--bodyFontFamily), var(--bodyFontFamilyFallback);
        font-size: var(--bodyFontSize);
        font-weight: var(--bodyFontWeight);
        line-height: var(--bodyLineHeight);
        margin: 0;
        min-block-size: 100vh;">

        <div class="grid">
      
          <form action="https://httpbin.org/post" method="POST" class="form login">

            <div class="form__field">
                <label for="login__email">
                    <i class="bi bi-envelope opacity-50"></i>
                    <span class="hidden">Email</span>
                </label>
                <input autocomplete="email" id="login__email" type="text" name="email" class="form__input"
                       placeholder="Email" required>
            </div>
      
            <div class="form__field">
              <label for="login__password">
                    <i class="bi bi-lock opacity-50"></i>
                  <span class="hidden">Password</span></label>
              <input id="login__password" type="password" name="password" class="form__input" placeholder="Password" required>
            </div>
      
            <div class="form__field">
              <input type="submit" value="Sign In">
            </div>
      
          </form>
      
          <p class="text--center">Not a member? <a href="Register">Sign up now</a> <svg class="icon">
              <use xlink:href="#icon-arrow-right"></use>
            </svg></p>
      
        </div>
      

      
      </body>
