<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>May Day</title>
        <!--Custom Styles-->
        <link rel="stylesheet" href="./cs/style.css">
        <!--Normalize CDN-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    </head>

    <body >
        <div class="container">
            <section class="banner-module">
                <!--Will have all the banners inside. Banners will be stacked on top of one another-->
                <!--Banner 1-->
                <div class="banner banner-one">
                    <!-- Headline -->
                    <span class="headline">BAGS &amp; PACKS</span>
                </div>

                <!--Banner 2-->
                <div class="banner banner-two">
                    <!-- Headline -->
                    <span class="headline">QUALITY CLOTHING <br> FROM TOP BRANDS</span>
                </div>

                <div class="clear-fix"></div>

                <!--Banner 3-->
                <div class="banner banner-three">
                    <!-- Headline -->
                    <span class="headline">NAMES, TAPES <br> &amp; TAGS</span>
                    <!-- Button -->
                    <button class="shop-btn">SHOP NOW</button>
                </div>

                <!--Banner 4-->
                <div class="banner banner-four">
                    <!-- Headline -->
                    <span class="headline">TACTICAL <br> &amp;  COMBAT GEAR</span>
                    <span class="subline">Air Force, Army, Marines &amp; Navy</span>
                </div>
            </section>
        </div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!--Custom Scripts-->
        <script src="js/app.js"></script>
    </body>
</html>
    <div class="container">
                 <div class="row">

                <div class="col-md-3 col-sm-3 col-xs-12 image-main-section">
                    <div class="row img-part">
                        <div class="col-md-12 col-sm-12 colxs-12 img-section">
                    <img src="https://static-01.daraz.com.np/p/7f6fc598f20e753263c98de366c79df2.jpg_300x0q75.webp">
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 image-title">
                            <h3>Image Title</h3>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 image-description">
                            <p>Lorem ipsum dolor sed do eiusmod tempor incididunt ut labore et ...</p>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <a href="#" class="btn btn-success add-cart-btn">ADD TO CART</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 image-main-section">
                    <div class="row img-part">
                        <div class="col-md-12 col-sm-12 colxs-12 img-section">
                    <img src="https://static-01.daraz.com.np/p/199f5ffc2ebb4b8f273a46308ac677be.jpg_300x0q75.webp">
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 image-title">
                            <h3>Image Title</h3>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 image-description">
                            <p>Lorem ipsum dolor sed do eiusmod tempor incididunt ut labore et ...</p>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <a href="#" class="btn btn-success add-cart-btn">ADD TO CART</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 image-main-section">
                    <div class="row img-part">
                        <div class="col-md-12 col-sm-12 colxs-12 img-section">
                    <img src="https://static-01.daraz.com.np/p/c262bcc1c0e29f28ab04f32b3b6e89e7.jpg_300x0q75.webp">
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 image-title">
                            <h3>Image Title</h3>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 image-description">
                            <p>Lorem ipsum dolor sed do eiusmod tempor incididunt ut labore et ...</p>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <a href="#" class="btn btn-success add-cart-btn">ADD TO CART</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 image-main-section">
                    <div class="row img-part">
                        <div class="col-md-12 col-sm-12 colxs-12 img-section">
                    <img src="https://static-01.daraz.com.np/p/01e30d0e2a2233ba1db3dca6feff276d.png_300x0q75.webp">
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 image-title">
                            <h3>Image Title</h3>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 image-description">
                            <p>Lorem ipsum dolor sed do eiusmod tempor incididunt ut labore et ...</p>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <a href="#" class="btn btn-success add-cart-btn">ADD TO CART</a>
                        </div>
                    </div>
                </div><div class="col-md-3 col-sm-3 col-xs-12 image-main-section">
                    <div class="row img-part">
                        <div class="col-md-12 col-sm-12 colxs-12 img-section">
                    <img src="https://static-01.daraz.com.np/p/d342696af4766e28887d55f5aa4ceabc.jpg_300x0q75.webp">
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 image-title">
                            <h3>Image Title</h3>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 image-description">
                            <p>Lorem ipsum dolor sed do eiusmod tempor incididunt ut labore et ...</p>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <a href="#" class="btn btn-success add-cart-btn">ADD TO CART</a>
                        </div>
                    </div>
                </div><div class="col-md-3 col-sm-3 col-xs-12 image-main-section">
                    <div class="row img-part">
                        <div class="col-md-12 col-sm-12 colxs-12 img-section">
                    <img src="https://static-01.daraz.com.np/p/973bd4c272654006007512249c780f1f.jpg_300x0q75.webp">
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 image-title">
                            <h3>Image Title</h3>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 image-description">
                            <p>Lorem ipsum dolor sed do eiusmod tempor incididunt ut labore et ...</p>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <a href="#" class="btn btn-success add-cart-btn">ADD TO CART</a>
                        </div>
                    </div>
                </div><div class="col-md-3 col-sm-3 col-xs-12 image-main-section">
                    <div class="row img-part">
                        <div class="col-md-12 col-sm-12 colxs-12 img-section">
                    <img src="https://static-01.daraz.com.np/p/7f3b7fcee373cc02fe2ed49908355d04.jpg_300x0q75.webp">
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 image-title">
                            <h3>Image Title</h3>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 image-description">
                            <p>Lorem ipsum dolor sed do eiusmod tempor incididunt ut labore et ...</p>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <a href="#" class="btn btn-success add-cart-btn">ADD TO CART</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 image-main-section">
                    <div class="row img-part">
                        <div class="col-md-12 col-sm-12 colxs-12 img-section">
                    <img src="https://static-01.daraz.com.np/p/b01068c6c6a0cba645b46a45435c1463.png_300x0q75.webp">
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 image-title">
                            <h3>Image Title</h3>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 image-description">
                            <p>Lorem ipsum dolor sed do eiusmod tempor incididunt ut labore et ...</p>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <a href="#" class="btn btn-success add-cart-btn">ADD TO CART</a>
                        </div>
                    </div>
                </div>
            <div class="col-md-3 col-sm-3 col-xs-12 image-main-section">
                <div class="row img-part">
                    <div class="col-md-12 col-sm-12 colxs-12 img-section">
                    <img src="https://static-01.daraz.com.np/p/a17fe891793171cdaaf1b7eefead1a4e.jpg_300x0q75.webp">
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 image-title">
                        <h3>Image Title</h3>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 image-description">
                        <p>Lorem ipsum dolor sed do eiusmod tempor incididunt ut labore et ...</p>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <a href="#" class="btn btn-success add-cart-btn">ADD TO CART</a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>