<body style="background-color: var(--bodyBackgroundColor);
    color: var(--bodyColor);
    font-family: var(--bodyFontFamily), var(--bodyFontFamilyFallback);
    font-size: var(--bodyFontSize);
    font-weight: var(--bodyFontWeight);
    line-height: var(--bodyLineHeight);
    margin: 0;
    min-block-size: 100vh;">

    <div class="grid">

        <form action="https://httpbin.org/post" method="POST" class="form login">

            <div class="form__field">
                <label for="login__fullname">
                    <i class="bi bi-person opacity-50"></i>
                    <span class="hidden">Full Name</span>
                </label>
                <input autocomplete="fullname" id="login__fullname" type="text" name="fullname" class="form__input"
                       placeholder="Full Name" required>
            </div>

            <div class="form__field">
                <label for="login__email">
                    <i class="bi bi-envelope opacity-50"></i>
                    <span class="hidden">Email</span>
                </label>
                <input autocomplete="email" id="login__email" type="text" name="email" class="form__input"
                       placeholder="Email" required>
            </div>

           


            

            <div class="form__field">
                <label for="login__contactnumber">
                    <i class="bi bi-telephone opacity-50"></i>
                    <span class="hidden">Contact Number</span>
                </label>
                <input autocomplete="contactnumber" id="login__contactnumber" type="text" name="contactnumber"
                       class="form__input" placeholder="Contact Number" required>
            </div>

            <div class="form__field" style="background-color:inherit; color:inherit !important;">
                <label for="login__education">
                    <i class="bi bi-book opacity-50"></i>
                    <span class="hidden">Education</span>
                </label>
                <select id="login__education" name="education" class="form__input" required ">
                    <option value="" disabled selected>Select Education</option>
                    <option value="SLC">Secondary</option>
                    <option value="+2">High School</option>
                    <option value="bachelor">Bachelors</option>
                </select>
            </div>

            <div class="form__field">
                <label for="login__age">
                    <i class="bi bi-person-bounding-box opacity-50"></i>
                    <span class="hidden">Age</span>
                </label>
                <input autocomplete="age" id="login__age" type="text" name="age" class="form__input"
                       placeholder="Age" required>
            </div>


            <div class="form__field">
                <label for="login__citizenshipphoto">
                    <i class="bi bi-image opacity-50"></i>
                    <span class="">Citizenship</span>
                </label>
                <input autocomplete="citizenshipphoto" id="login__citizenshipphoto"  type="file"
                       name="citizenshipphoto" class="form__input" required>
            </div>

                <div class="form__field">
                <input type="submit" value="Sign Up">
            </div>

        </form>

        <p class="text--center">
            Do you have an account ? <a href="Login">Log In Now</a>
            <i class="bi bi-arrow-right"></i>
        </p>

    </div>

</body>
