@model ABKS_project.ViewModels.UserViewModel

@if (TempData["Register_Check"] != null)
{
    <div class="alert alert-info" role="alert">
        @TempData["Register_Check"]
    </div>
}

@if (TempData["Confirmation_Message"] != null)
{
    <div class="alert alert-info" role="alert">
        @TempData["Confirmation_Message"]
    </div>
}

<style>
    .modal-backdrop {
        backdrop-filter: blur(1px);
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1040 !important;
    }

    .modal {
        z-index: 1050 !important;
    }

    .is-invalid {
        border-color: #dc3545;
    }

    .text-danger {
        color: #dc3545;
    }
</style>

<body style="background-color: var(--bodyBackgroundColor); color: var(--bodyColor); font-family: var(--bodyFontFamily), var(--bodyFontFamilyFallback); font-size: var(--bodyFontSize); font-weight: var(--bodyFontWeight); line-height: var(--bodyLineHeight); margin: 0; min-block-size: 100vh;">
    <div class="grid">
        <h1 class="page-title">Register Here !!!</h1>
        @if (TempData["Batch_Check"] == null)
        {
            <form asp-action="Register" method="post" class="form login" enctype="multipart/form-data" id="registerForm">
                <div class="form__field">
                    <div>
                        <label for="login__firstname" class="d-flex align-items-center">
                            <i class="bi bi-person opacity-50 me-2"></i>
                            <span class="hidden">First Name</span>
                        </label>
                    </div>
                    <div class="input-container">
                        <input asp-for="FirstName" autocomplete="given-name" id="login__firstname" type="text" name="FirstName" class="form__input login__input" placeholder="First Name">
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>

                <div class="form__field">
                    <div>
                        <label for="login__lastname" class="d-flex align-items-center">
                            <i class="bi bi-person opacity-50 me-2"></i>
                            <span class="hidden">Last Name</span>
                        </label>
                    </div>
                    <div class="input-container">
                        <input asp-for="LastName" autocomplete="family-name" id="login__lastname" type="text" name="LastName" class="form__input login__input" placeholder="Last Name">
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>

                <div class="form__field">
                    <div>
                        <label for="login__email" class="d-flex align-items-center">
                            <i class="bi bi-envelope opacity-50 me-2"></i>
                            <span class="hidden">Email</span>
                        </label>
                    </div>
                    <div class="input-container">
                        <input asp-for="Email" autocomplete="email" id="login__email" type="text" name="Email" class="form__input login__input" placeholder="Email">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="form__field">
                    <div>
                        <label for="login__contactnumber" class="d-flex align-items-center">
                            <i class="bi bi-telephone opacity-50 me-2"></i>
                            <span class="hidden">Contact Number</span>
                        </label>
                    </div>
                    <div class="input-container">
                        <input asp-for="ContactNumber" autocomplete="tel" id="login__contactnumber" type="text" name="ContactNumber" class="form__input login__input" placeholder="Contact Number">
                        <span asp-validation-for="ContactNumber" class="text-danger"></span>
                    </div>
                </div>

                <div class="form__field">
                    <div>
                        <label for="login__education" class="d-flex align-items-center">
                            <i class="bi bi-book opacity-50 me-2"></i>
                            <span class="hidden">Education</span>
                        </label>
                    </div>
                    <div class="input-container">
                        <select asp-for="Education" id="login__education" name="Education" class="form__input login__input" style="background-color: #444c55; color: white; opacity:60%; border: none; padding:16px">
                            <option value="" disabled selected>Select Education</option>
                            <option value="SEE">SEE</option>
                            <option value="High School">High School</option>
                            <option value="Bachelors">Bachelors</option>
                        </select>
                        <span asp-validation-for="Education" class="text-danger"></span>
                    </div>
                </div>

                <div class="form__field">
                    <div>
                        <label for="login__age" class="d-flex align-items-center">
                            <i class="bi bi-person-bounding-box opacity-50 me-2"></i>
                            <span class="hidden">Age</span>
                        </label>
                    </div>
                    <div class="input-container">
                        <input asp-for="Age" autocomplete="age" id="login__age" type="number" name="Age" class="form__input login__input" placeholder="Age" min="0">
                        <span asp-validation-for="Age" class="text-danger"></span>
                    </div>
                </div>

                <div class="form__field">
                    <div>
                        <label for="login__CitizenshipPdf" class="d-flex align-items-center px-3 p-1">
                            <i class="bi bi-image opacity-50 me-2"></i>
                            <span class="me-2">Citizenship:</span>
                        </label>
                    </div>
                    <div class="input-container">
                        <input asp-for="CitizenshipPdf" autocomplete="CitizenshipPdf" id="login__CitizenshipPdf" type="file" name="CitizenshipPdf" accept="application/pdf">
                        <span asp-validation-for="CitizenshipPdf" class="text-danger"></span>
                    </div>
                </div>
                <div class="form__field note">Please provide PDF only of size less than 1MB.</div>




                <div class="form__field">
                    <input type="submit" value="Sign Up">
                </div>
            </form>
        }
        else
        {
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="alert" role="alert">
                        <h1>Registration Not Available</h1>
                        <p>@TempData["Register_Check"]</p>
                        <p>Please try again later.</p>
                    </div>
                </div>
            </div>

        }
        <p class="text--center">
            Do you have an account? <a href="Login">Log In Now</a>
            <i class="bi bi-arrow-right opacity-50"></i>
        </p>
    </div>

    @* Popup for Email Confirmation Message *@
    @if (TempData["Email_Confirmation_Message"] != null)
    {
        <div class="modal fade show" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true" style="display: block;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmationModalLabel">Email Confirmation</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        @TempData["Email_Confirmation_Message"]
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    }


    <style>
        .page-title {
            text-align: center;
            font-size: 2em;
            margin-top: 40px;
            color: var(--titleColor, white); /* fallback color in case CSS variable is not defined */
        }

        .grid {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 35px;
        }
    </style>
</body>
