
    <style> 
        

        .section-header {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            background: #2B3044;
            margin-top:10px;
        }

            .section-header h1 {
                font: 400 32px "Montserrat", sans-serif;
                text-transform: uppercase;
                color: #fff;
            }

        .video-gallery {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
            grid-gap: 15px;
            max-width: 80rem;
            padding: 15px;
            margin: 20px auto;
            box-sizing: border-box;
        }

            .video-gallery .gallery-item {
                position: relative;
                width: 99%;
                height: 300px;
                background: #000;
                cursor: pointer;
                overflow: hidden;
            }

                .video-gallery .gallery-item img {
                    position: relative;
                    display: block;
                    width: 115%;
                    height: 300px;
                    object-fit: cover;
                    opacity: .5;
                    transition: all 350ms ease-in-out;
                    transform: translate3d(-23px, 0, 0);
                }

                .video-gallery .gallery-item .gallery-item-caption {
                    padding: 32px;
                    font-size: 1em;
                    color: #fff;
                    text-transform: uppercase;
                }

                    .video-gallery .gallery-item .gallery-item-caption,
                    .video-gallery .gallery-item .gallery-item-caption > a {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }

                .video-gallery .gallery-item h2 {
                    font-weight: 300;
                    overflow: hidden;
                    padding: 12px 0;
                }

                .video-gallery .gallery-item h2,
                .video-gallery .gallery-item p {
                    position: relative;
                    margin: 0;
                    z-index: 1;
                    pointer-events: none;
                }

                .video-gallery .gallery-item p {
                    letter-spacing: 1px;
                    font-size: 12px;
                    padding: 12px 0;
                    opacity: 0;
                    transition: opacity 0.35s, transform 0.35s;
                    transform: translate3d(10%, 0, 0);
                }

                .video-gallery .gallery-item:hover img {
                    opacity: 0.3;
                    transform: translate3d(0, 0, 0);
                }

                .video-gallery .gallery-item .gallery-item-caption {
                    text-align: left;
                }

                .video-gallery .gallery-item h2::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 15%;
                    height: 1px;
                    background: #fff;
                    transition: transform 0.3s;
                    transform: translate3d(-100%, 0, 0);
                }

                .video-gallery .gallery-item:hover h2::after {
                    transform: translate3d(0, 0, 0);
                }

                .video-gallery .gallery-item:hover p {
                    opacity: 1;
                    transform: translate3d(0, 0, 0);
                }
    </style>

    <main id="main">
        <div class="container" data-aos="fade-up">
            <div class="section-header" style="margin-top:8%;">
                <h1>Video Gallery</h1>
            </div>
        </div>

        <div class="video-gallery">
            <div class="gallery-item">
                <img src="~/Images/imagegallery/img2.jpg" alt="Mount Rainier">
                <div class="gallery-item-caption">
                    <h2>Jungle Training</h2>
                    <p>Group fighting training</p>
                    <a class="glightbox" href="https://www.youtube.com/watch?v=xXcPd9afTCQ"></a>
                </div>
            </div>

            <div class="gallery-item">
            <img src="~/Images/imagegallery/img3.jpg" alt="Olympic National Park">
                <div class="gallery-item-caption">
                <h2>Nature's Wonders</h2>
                <p>A Journey Through Landscapes</p>
                    <a class="glightbox" href="https://www.youtube.com/watch?v=xXcPd9afTCQ"></a>
                </div>
            </div>

            <div class="gallery-item">
            <img src="~/Images/imagegallery/img4.jpg" class="north-cascades-img" alt="North Cascades National Park">
                <div class="gallery-item-caption">
                <h2>Adrenaline Rush</h2>
                <p>Extreme Sports Adventures</p>
                    <a class="glightbox" href="https://www.youtube.com/watch?v=xXcPd9afTCQ"></a>
                </div>
            </div>

            <div class="gallery-item">
            <img src="~/Images/imagegallery/img5.jpg" alt="Mount St Helens">
                <div class="gallery-item-caption">
                <h2>Culinary Creations</h2>
                <p>Masterpieces in the Kitchen</p>
                    <a class="glightbox" href="https://www.youtube.com/watch?v=xXcPd9afTCQ"></a>
                </div>
            </div> <div class="gallery-item">
            <img src="~/Images/imagegallery/img6.jpg" alt="Mount St Helens">
                <div class="gallery-item-caption">
                <h2>Tech Innovations</h2>
                <p>The Future Unveiled</p>
                    <a class="glightbox" href="https://www.youtube.com/watch?v=xXcPd9afTCQ"></a>
                </div>
            </div> <div class="gallery-item">
            <img src="~/Images/imagegallery/img7.jpg" alt="">
                <div class="gallery-item-caption">
                <h2>Wildlife Wonders</h2>
                <p>Animals in Their Natural Habitat</p>
                    <a class="glightbox" href="https://www.youtube.com/watch?v=xXcPd9afTCQ"></a>
                </div>
            </div>
        </div>
    </main>

   @*  <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/glightbox/3.0.9/js/glightbox.min.js"></script> *@
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            AOS.init();
            const lightbox = GLightbox({
                selector: '.glightbox'
            });
        });
    </script>

