@using ABKS_project.Areas.Ecommerce.Models
@model Checkout
@{
    ViewData["Title"] = "Checkout";
}
<style>
    h5 {
        font-size: 24px; /* Larger font size */
        font-weight: bold; /* Bold font */
        color: #ff5722; /* Orange color */
        text-align: center; /* Center alignment */
        background-color: #f1f1f1; /* Light grey background */
        padding: 10px; /* Padding for spacing */
        border-radius: 5px; /* Rounded corners */
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow */
        padding-top: 1rem;
    }</style>
<div style="width:90%;margin:auto;" class="mt-2">
<h5>Checkout</h5>
<form asp-action="Checkout">
    <div class="py-2">
        <label asp-for="Name">Name*</label>
        <input type="text" class="form-control" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="py-2">
        <label asp-for="Email">Email*</label>
        <input type="text" class="form-control" asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>

    </div>

    <div class="py-2">
        <label asp-for="MobileNumber">MobileNumber*</label>
        <input type="text" class="form-control" asp-for="MobileNumber" />
        <span asp-validation-for="MobileNumber" class="text-danger"></span>
    </div>


    <div class="py-2">
        <label asp-for="Address">Address*</label>
        <textarea class="form-control" asp-for="Address" rows="5"> </textarea>
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <div class="py-2">
        <span class="mr-2">Payment Method </span>
        <select asp-for="PaymentMethod" class="form-control">
            <option value="">Select Payment Method</option>
            @foreach (var method in Enum.GetValues(typeof(ABKS_project.Constants.PaymentMethods)))
            {
                <option value="@method.ToString()">@method.ToString()</option>

            }
        </select>
        <span asp-validation-for="PaymentMethod" class="text-danger"></span>
    </div>

    <div class="py-2">
        <button type="submit" c class="btn btn-info">Next</button>

    </div>
</form>
</div>