* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f9f6f2;
    
}

.card-img-top {
    border-radius: 30px;
    padding: 10px;
    height: 200px; /* Adjust the height */
    width: 100%; /* Make the image width 100% */
    object-fit: cover; /* Ensure the image covers the whole space */
}

.card {
    border-radius: 20px;
    width: 250px; /* Adjust the width */
    margin-bottom: 10px; /* Adjust the gap between cards */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.card-body {
    padding: 15px;
}

.btn-primary {
    border-radius: 25px;
    width: 100px; /* Adjust the button width */
    font-size: 14px; /* Adjust the font size */
    padding: 8px 16px; /* Adjust the padding */
}

    .btn-primary:hover {
        background-color: black;
        border: none;
    }

h3, h5 {
    color: rgb(0, 91, 228);
    font-size: 18px; /* Adjust the font size */
}

p.card-text {
    font-size: 14px; /* Adjust the font size */
    margin-bottom: 10px; /* Adjust the margin */
}

@media (min-width: 768px) {
    .row.row-cols-md-3 .col {
        width: 25%; /* Each column takes up one-third of the row's width */
    }
}
